{% extends "customer_app/baseTemplate.html" %}

{% block content %}

  <style>


    /*
        background-size:cover -> makes it so that the image covers entire container
        background-repeat: no-repeat -> Had a problem where the image would pop up as multiple squares of itself. Had to put this in so it wouldn't do that 
       background-position: center center -> Positions the image center horizontally and vertically
        height: calc(100vh -80vh) -> Having the navbar causes the image to go right under it and so causes unneccessary scrolling. Had to calculate the correct height
        display: flex -> Allowed all the items inside this div become flex items which then I could use:
                        align-items: center -> to center my content (container in this case) vertically 
    */
    .backgroundImage {

      background-image: url('https://uploads-ssl.webflow.com/6507242ad3e4e6ff563301b1/6507242bd3e4e6ff563306ad_65030aebb32018840af701b7_64ff6a5c64bd2fd09dcf53ef_61.jpeg'); 
      background-size: cover; 
      background-repeat: no-repeat; 
      background-position: center center; 
      height: 90.5vh;
      display:flex; 
      align-items: center;

    }

    /* Customization for my overview container  */
    .overviewContainerStyle {

      max-width: 700px; 
      min-height: 300px; 
      border: 10px groove black; 
      background-color: white; 
      padding: 30px;

      opacity: 0;
      animation: fadeIn 1.5s ease-in-out forwards;

    }

    /* Animation for overview container fading in */
    @keyframes fadeIn {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
      
    /* Font customization for my overview */
    .overviewFont {

      font-size: 20px; 
      font-family: Verdana;

    }

    /* Spacing in between each item of my overview */
    .overviewSpacing {

      margin-top: 10px
      
    }

    /* Font for my Overview header */
    .glow {
      color: black; 
      text-align: center;
      margin-bottom: 24px;
      animation: glow 1.2s ease-in-out infinite alternate;
    }

    /* Animation for my glowing text */
    @-webkit-keyframes glow {
      from {
        text-shadow: 0 0 10px gold, 0 0 20px gold, 0 0 30px gold, 0 0 40px gold, 0 0 50px gold, 0 0 60px gold, 0 0 70px gold;
      }
      to {
        text-shadow: 0 0 20px red, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 70px red;
      }
    }

  </style> 

  <!-- 
    Allows for my background to use an image while making sure whatever content I create within this div is aligned correctly.
  -->
  <div class="backgroundImage">
  
    <!-- Create a container that will hold the overview of my website -->
    <!-- Set width of the box, the minimum height, border type, background color, and padding-->
    <div class="container overviewContainerStyle">

        <!-- Within this container, customize the text -->
        <h1 class="glow"> Overview </h1>
         
          <ul class="overviewFont">
            <li class="overviewSpacing"> Welcome to LEGO Reviews! Discover and relive the creative world of LEGO from many different generations.</li>
            <li class="overviewSpacing"> As you are browsing, you will be able to read reviews from fellow builders and gain valuable insight. </li>
            <li class="overviewSpacing"> If you are a member of the community, you're able to be part of the conversation and share your thoughts! </li>
          </ul>

        <p style="text-align: center; margin-top: 20px; font-size: 18px;"> To get started, click "Browse" on the top of the page </p>

    </div>
  </div>
  
{% endblock %}
