{% extends "customer_app/baseTemplate.html" %}

{% block content %}
  <!-- Add a container with image background -->
  <div style="background-image: url('https://uploads-ssl.webflow.com/6507242ad3e4e6ff563301b1/6507242bd3e4e6ff563306ad_65030aebb32018840af701b7_64ff6a5c64bd2fd09dcf53ef_61.jpeg'); background-size: cover; background-repeat: no-repeat; background-position: center center; height: calc(100vh - 80px); display: flex; align-items: center; justify-content: center; overflow: hidden;">
    
    <div class="container" style="max-width: 600px; min-height: 600px; border: 1px solid; background-color: white;">

        <h1 style="padding: 20px; text-align: center;"> Overview </h1>
       
        <p style="text-align: left; margin-top: 10px; font-size: 24px;"> 
          Welcome to LEGO Reviews! Explore the creative world of LEGO from all generations, discovering and reliving iconic sets.
          As you are browsing, you will be able to read reviews from fellow builders and gain valuable insight.
          If you are a member of the community, you're able to be part of the conversation and share your thoughts!
          Together, we will preserve the history of LEGO to ensure we will never forget where we came from and how far we have evolved.

        </p>


        <p style="text-align: center; margin-top: 30px; font-size: 18px;"> To get started, click "Browse" on the top of the page </p>

    </div>

    

  </div>
{% endblock %}
