{% extends 'customer_app/baseTemplate.html' %}


{% block content %}

<div class="container" style="margin-top: 30px;">
    <div class="row">
        <div class="col-md-4">

            <!-- Image -->
            <img src="{{ legoset.image.url }}" style="width: 100%; max-width: 100%; margin-top: 100px;">

        </div>
        <div class="col-md-8">

            <!-- Information Container -->
            <div class="container" style="border: 5px solid black; padding: 10px; margin-top: 100px;">

                <h5 style="text-align: center; font-size: 50px; text-decoration: underline;">{{ legoset.title }}</h5>
                <p style="font-size: 20px; text-align: center;">
                    Release Year: {{ legoset.year }}<br><br>
                    Age Rating: {{ legoset.ageRating }}<br><br>
                    Set #: {{ legoset.setNumber }}<br><br>
                    Total Bricks: {{ legoset.totalBricks }}
                </p>
                <h5 style="text-align: center; font-size: 35px; text-decoration: underline;">PLACEHOLDER FOR STARS</h5>

            </div>

            
            <div class="container" style="border: 5px solid black; padding: 10px; width: 80%; margin-top: 10px;" >
    
             <p style="text-align: left; font-size: 20px">Description: {{legoset.description}} </p>

            </div>
            
        </div>
    </div>
</div>

<div class="container" style="border: 5px solid black; padding: 10px; width: 80%; margin-top: 50px;" >
    
    <p style="text-align: left; font-size: 40px; padding: 10px;">Community Reviews:  </p>

   </div>




{% endblock %}